<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Category</title>
</head>
<body>
<h1>Category</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="categories:${categories}"><!--th = thymeleaf $employee por asi se llama el attribute model-->
        <td th:text="${categories.id}">123</td>
        <td th:text="${categories.name}">Jhon</td>
        <td th:text="${categories.code}">Doe</td>

    </tr>
</table>

</body>
</html>
