<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>contracts</title>
</head>
<body>
<h1>Contracts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Init Date</th>
        <th>End Date</th>
        <th>View</th>
    </tr>
    <tr th:each="contract:${contracts}">
        <td th:text="${contract.id}">123</td>
        <td th:text="${contract.initDate}">Jhon</td>
        <td th:text="${contract.endDate}">Doe</td>
        <td><a href="#" th:href="@{'/contracts/'+${contract.id}}">View</a></td>
    </tr>
</table>

</body>
</html>
</html>