<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employees</title>
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contract</th>
        </tr>
        <!--th = thymeleaf $employee por asi se llama el attribute model-->
        <tr th:each="employee:${employees}">
            <td th:text="${employee.id}">123</td>
            <td th:text="${employee.firstName}">Jhon</td>
            <td th:text="${employee.lastName}">Doe</td>
            <td>
                <table>
                    <tr th:each="contract:${employee.contract}">//nombre del atribute
                        <td th:text="${contract.id}">123</td>
                        <td th:text="${contract.initDate}">Jhon</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</head>
<body>

</body>
</html>