<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>error</title>
</head>
<body>
<h1 th:text="${exception.message}">error code</h1>
</body>
</html>
</html>