<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>positions</title>
</head>
<body>
<h1>Positions</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>View</th>
    </tr>
    <tr th:each="position:${positions}">
        <td th:text="${position.id}">123</td>
        <td th:text="${position.name}">Jhon</td>
        <td><a href="#" th:href="@{'/positions/'+${position.id}}">View</a></td>
    </tr>
</table>

</body>
</html>
</html>