<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sub Categories</title>
</head>
<body>
<h1>Sub Categories</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th>Category ID</th>
        <th>View</th>
    </tr>
    <tr th:each="subCategory:${subCategories}">
        <td th:text="${subCategory.id}">123</td>
        <td th:text="${subCategory.name}">Jhon</td>
        <td th:text="${subCategory.code}">Doe</td>
        <td th:text="${subCategory.category.id}">Doe</td>
        <td><a href="#" th:href="@{'/subCategories/'+${subCategory.id}}">View</a></td>
    </tr>
</table>

</body>
</html>
</html>